.footer {
  width: 77%;
  float: right;
  text-align: center;
  padding: 15rem 0 5rem;

  @include respond(tab-port) {
    width: 100%;
  }

  &__para {
    font-size: 1.3rem;
    color: $color-primary;
  }
}
